/* Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4267B2;
    padding: 10px 20px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .navbar__logo {
    height: 40px;
  }
  
  .navbar__search {
    width: 400px;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
  }
  
  .navbar__icons {
    display: flex;
    align-items: center;
  }
  
  .navbar__icon {
    margin-left: 15px;
    cursor: pointer;
  }
  